<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Список адресов</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>


    <ion-list>

        <ion-item *ngFor="let address of addresses; let i = index" routerDirection="root"
                  routerLink="transactions/{{address.address}}" lines="none" detail="false">

            <ion-label>
                {{address.address}}
            </ion-label>

            <ion-note slot="end" color="tertiary">{{address.balance}}BTC</ion-note>
        </ion-item>


    </ion-list>


    <ion-button (click)="addAddress()" color="primary">Добавить адрес</ion-button>


</ion-content>
