<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Список транзакции</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item *ngFor="let tx of txs|async">

            <div fxLayout="row" fxFlexFill fxLayout.lt-md="column" fxLayoutAlign="space-between center">
                <div fxFlex="13" fxFlex.lt-md="20" fxFlexOffset.lt-md="1">
                    {{tx.created | date: 'dd/MM/yyyy'}}
                </div>

                <div fxFlex="5" fxFlex.lt-md="20">
                    <ion-icon color="{{isIncoming(tx)?'success':'danger'}}"
                              name="{{isIncoming(tx)?'arrow-down':'arrow-up'}}">
                    </ion-icon>
                </div>

                <div fxFlex fxLayout="column">
                    <div fxFlexOffset="1">
                        {{getOtherAddress(tx)}}
                    </div>
                    <div fxFlexOffset="1">
                        {{getMyAddress(tx)}}
                    </div>
                </div>

                <ion-note fxFlex="30" fxLayoutAlign="space-between center" fxFlex.lt-md slot="end" color="secondary" fxLayout="row" fxLayout.lt-md="column">
                    <ion-note  color="tertiary">
                        {{tx.amount}} <span> BTC</span>
                    </ion-note>
                    <div >
                        {{tx.fee}} <span> BTC</span>
                    </div>
                </ion-note>

            </div>
        </ion-item>


    </ion-list>


</ion-content>
